/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #e67e22;
    margin: 0;
    padding: 0;
}

/* Contenedor Principal */

.container-carrito {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Encabezado */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.producto {
    display: flex;
    align-items: center;
}

.producto-img {
    height: 80px;
    margin-right: 10px;
}

.cantidad {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.btn-secondary {
    background-color: #ffc107;
    color: white;
}

.btn-secondary:hover{
    background-color: #e67e22;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    color: white;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}

.btn-warning:hover{
    background-color: #e67e22;
    color: white;
}

.btn-success {
    background-color: #B22222;
    color: white;
    width: 100%;
    margin-top: 20px;
}

.btn-success:hover{
    background-color: #8B0000;
    color: white;
}

.total-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

.total-container h3 {
    margin: 0 0 10px 0;
}

.descuento-container {
    margin-top: 20px;
}

.descuento-container label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}