{% extends 'vendedor/vendedorBase.html' %}
{% block body %}

{% block customCSS %}
<link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css"> 
{% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/vendedor/crudProductos.css') }}">
<div class="container">
    <div class="row">
        <div class="col">
            <form action="/MisProductos">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in produ %}
                                <tr>
                                    <td>{{ producto[0] }}</td>  <!-- id -->
                                    <td>{{ producto[1] }}</td>  <!-- nombre -->
                                    <td class="text-wrap" style="max-width: 300px; white-space: pre-line;">
                                        {{ producto[2] }}
                                    </td>
                                      <!-- descripcion -->
                                    <td>{{ producto[4] }}</td>  <!-- cantidad -->
                                    <td>${{ producto[5] }}</td>  <!-- precio -->
                                    <td>
                                   
                                    </td>
                                    <td>
                                        <a href="/VENDEDOR/editarProducto/{{ producto[0] }}" title="Editar" class="btn btn-primary btn-sm">Editar</a>
                                        <a href="#" title="Eliminar" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?')">Eliminar</a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
                <a href="/VENDEDOR/" class="btn btn-secondary btn-lg">Atrás</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
