{% extends 'base.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTOR</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css"> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
</head>
<body>


    <nav class="navbar sticky-top">
        <div class="container">
            <a href="/" class="logo" title="CultivaRed"><span class="li">Cultiva</span>Red</a>            
        </div>
    </nav>


    






    
</body>
</html>

{% endblock %}
